<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        //truy cap den server
        var socket = io('http://localhost:3000');
        $(document).ready(function() {
            $('#clientA').click(function() {
                socket.emit('Client-A', 'Thang phat KHUNG KHUNG');
            });
        });
    </script>
</head>

<body>
    <div id="clientA">Send</div>
</body>

</html>