<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="javascript.js"></script>
</head>

<body>
    <div id="loginForm">
        <h2>WHAT'S YOUR NAME</h2>
        <input type="text" name="username" value="" id="txtusername"><br>
        <button type="button" id="btnregister">Register</button>

    </div>

    <div id="show_chatForm">
        <div id="users_online">
            <h4>Users Online</h4>
            <button type="button" id="btn_chat_don">Chat don</button>
            <button type="button" id="btn_chat_nhom">Chat nhom</button>
            <div class="clear"></div>
            <ul class="users_list_don"></ul>
            <ul class="users_list_nhom"></ul>
        </div>
        <div id="content_form">
            <h4 id="current_User">Hello </h4>
            <button type="button" class="btn btn-primary" id="btnlogout">Logout</button>
            <div id="content_chat"></div>
            <div id="send_chat">
                <textarea rows="4" cols="60" id="txt_chat"></textarea>
                <button type="button" id="btn_send">Send</button>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="show_chatForm1">
        <div id="content_form1">
            <h4 id="current_User1"></h4>
            <button type="button" class="btn btn-primary" id="btnlogout1">Logout</button>
            <div id="content_chat1"></div>
            <div id="send_chat1">
                <textarea rows="4" cols="60" id="txt_chat1"></textarea>
                <button type="button" id="btn_send1">Send</button>
            </div>
        </div>
    </div>
</body>

</html>