* {
    margin: 0px;
    padding: 0px;
}

.clear {
    clear: both;
}

#loginForm {
    width: 300px;
    height: 200px;
    margin: auto;
    border: solid 2px #00458a;
}

#loginForm h2 {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #3c9dff;
}

#loginForm input {
    width: 200px;
    height: 30px;
    margin-left: 45px;
    margin-top: 30px;
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}

#loginForm button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 45px;
}

#loginForm button:hover {
    background-color: #bfffbf;
}

#show_chatForm {
    width: 800px;
    height: 600px;
    margin: auto;
    display: none;
    border: solid 1px #000000;
}

#show_chatForm #users_online {
    width: 250px;
    height: 600px;
    float: left;
    border: solid 1px #000000;
}

#show_chatForm #users_online h4 {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: #55aaff;
}

#show_chatForm #users_online ul {
    width: 100%;
    height: 560px;
    margin-top: 10px;
    list-style-type: none;
}

#show_chatForm #users_online ul li {
    line-height: 30px;
    font-size: 20px;
}

#show_chatForm #users_online ul li i {
    color: #00aa2b;
}

#show_chatForm #content_form {
    width: 540px;
    height: 600px;
    float: right;
    border: solid 1px #000000;
}

#show_chatForm #content_form h4 {
    width: 530;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 20px;
    background-color: #55aaff;
}

#show_chatForm #content_form #content_chat {
    width: 540;
    height: 490px;
    border: solid 1px #0080ff;
    background-color: #d6d6d6;
}

#show_chatForm #content_form #send_chat {
    width: 100%;
    height: 65px;
    border: solid 1px #0080ff;
    background-color: #d6d6d6;
    line-height: 65px;
}

#show_chatForm #content_form #send_chat textarea {
    resize: none;
    float: left
}

#show_chatForm #content_form #send_chat button {
    width: 90px;
    height: 64px;
    margin-left: 10px;
    float: left;
    background-color: #0080ff;
    font-size: 20px;
}